%article
  - if show_image
    %header
      - headlines = ["Water found on Mars", "Some headlines are entirely too long to fit on one line, according to ASPCA study", "Obama eats a sandwich, leaves room"]
      %h2.g= link_to headlines.shuffle[0]
      %br{:clear => "both"}

  .voting
    .upvote
    .score= (rand(100) - 50).to_s
    .downvote
  %p
    - i = rand(3) + 1
    = Array.new(2 * i, "The officer leading a police investigation said e-mail records showed editors and reporters at The Sun had paid hundreds of thousands of dollars for information.").join(' ')

  %footer
    .author
      = image_tag "avatar.jpg"
      summary by Joe Shmoe
  %br{:clear => "both"}
