%div
  %img{:alt => "the codist - programmerthink", :src => "http://thecodist.com/images/Slice-2.png"}/
  %div
    %h1 Why I Don’t Do Unpaid Overtime and Neither Should You
    %h5
      %span Published: 02/26/2012
    %p
      As a programmer in the U.S. for 30 years now I have spent some
      of that time working more than 40 hours in a week, which is not all
      that common in this industry, and when I was salaried I rarely if
      ever got more pay.
    %p No more, I now find the whole idea nauseating.
    %p
      I am not talking about running your own business, or working at
      a startup or other business entity where working more hours might
      get you a big payout. I ran two small software companies from the
      mid 80’s to 90’s and we did work a lot of hours; but all of us
      shared in whatever we made and in the second company worked under
      contract so the more we worked the more we got. But that’s not the
      point of this post.
    %p
      If I worked at some big technology company and agreed to some
      salary, my expectation is that I am being paid to do my best for a
      standard work week, which is generally considered (at least in the
      U.S.) to be 8 hours a day, 5 days a week. If they told me I have to
      work 70 hours a week, or some manager expected the team to show up
      7 days a week, I would refuse today. Why?
    %p
      When we agree to work for money, the assumption is that the
      primary reason we work is in exchange for that which we need to pay
      bills, buy stuff, etc. The employer’s expectation is that they will
      receive value for the the money paid. The problem, especially in
      the US and in Asia, is that the employer’s concept for value is
      often very different than the employee’s. Many companies expect
      that a salary is a fixed amount but that the work to be done for
      them to receive value is variable. The employer assumes they can
      increase the value they are receiving from the employee by
      expecting, assuming or demanding more work to be done; in this way
      they can essentially reduce the cost of the labor by simply getting
      more hours out of each salary.
    %p
      What does this mean for the employee? If you agree to this you
      are essentially agreeing to work for less. You could even calculate
      it as working for free. What benefit do you as the employee gain
      for this free work? At most large employers you get — nothing.
      Maybe if you are a manager you might get a promotion but as a
      programmer there are generally few ways to advance without becoming
      a manager. If you bust your butt for 80 hours a week writing code
      for months at a time the reward is generally the same as if you
      worked hard 40 hours a week.
    %p
      In some industries like AAA gaming studios crunch time can be a
      hellish experience trying to ship a big game. Then you read a lot
      of stories where people worked enormous hours only to be laid off
      soon after the ship date. Sure, now you can rest, but at what cost
      and with what benefit?
    %p
      Now imagine yourself as a contractor (which I am at the moment).
      If you are asked to work more than the agreed upon time the company
      is billed and the contractor paid. Maybe nothing extra but it’s not
      less than normal. Now you are actually getting value for your work.
      The odd thing about this is that companies are of course paying way
      more for your time than what you are getting so sometimes they
      won’t allow a contractor to work overtime. Why should they if they
      can simply demand an employee to do it for nothing? Or even have
      the employee volunteer.
    %p
      American workers generally get an average of 10 days paid
      vacation a year, sometimes with a few extra sick days; but a full
      time American worker averages taking only 5-7 days a year. In most
      parts of the world, and especially in Europe the government
      mandates 20-30 days per year, and in most cases people take most of
      their time. In many countries working overtime is unusual and
      unpaid overtime is rare or may even be illegal. People value having
      a life outside of work and the thought of slaving away for their
      employer for nothing is unimaginably stupid to them. Yet we in the
      US (and in many parts of Asia as well) often think nothing of
      it.
    %p
      I once had a friend who’s boss expected her to have her
      Blackberry on and respond to any request 24x7 as soon as possible.
      After a year of this one day she refused and quit. Her boss was
      livid that she wouldn’t do it anymore. Yet in all that time she got
      no additional pay of any kind. Why do we do this?
    %p
      One big difference between the U.S. and Europe is that in the
      U.S. health insurance is generally tied to your employer, something
      that exists virtually no where else. If you lose your job you may
      have to pay a lot more (COBRA) for a limited time; even if you get
      a new job your coverage might not start for as long as 6 months. So
      the fear of losing your job and its health coverage might make you
      more likely to accept longer free hours. It’s almost as if the
      system was designed to keep you from switching employers
      (especially if you have a family). In Europe your health is not
      tied to your employment in any way. If companies want to keep a
      valuable employee they have to do something positive and entice
      them to stick around. Many European countries (and the Eurozone)
      also make it difficult to expect or even ask for free overtime.
    %p
      Another side effect of free overtime is that fewer workers will
      be hired. If you can routinely get your employees to work 60 or 80
      hours a week you don’t need to hire more. But for the employee’s
      what is the benefit? In most cases nothing.
    %p
      My point is that if you are paying me and I give you good work
      for 40 hours and someone else is willing to work 60 or 80 hours,
      are they more valuable and I less? Should I be fired for failing to
      devote my entire life to my job? Is the person willing to working
      twice as many hours actually delivering twice as much value as I
      am? You could argue that if the company were billing by the hour
      then the 80 hour person is twice as valuable but that’s looking at
      it from the employer’s point of view only. The employee is
      producing more value in this case (more income for the company) but
      is receiving nothing in return. Sure you could get rid of me and
      find more of them (and companies routinely do this) but I find this
      modern concept of “slavery” highly unappealing.
    %p
      Life is more to me than working all the time. This is definitely
      a European idea, that work cannot and should not be the entire
      reason for living. It’s a very pro business view in the US however,
      that companies cannot succeed if they have to pay for every hour
      someone works, that they will fail if people take 20 days of
      vacation every year, that an employee’s life is worth little more
      than a collection of working hours.
