<h2><a href="http://blog.news.me/post/18439216464/getting-the-news-evan-williams">
Obama eats sandwich, leaves room</a></h2>
<p><span>(This post is part of <a href="http://www.news.me/">News.me</a>’s ongoing
series, <strong>“Getting the
News.”</strong> In our efforts to understand everything
about social news, we’re reaching out to writers and thinkers
we like to ask them how they get their daily news. Read the first
post <a href="http://blog.news.me/post/12555824709/introducing-getting-the-news">here</a>.
See all of the posts, from writers and thinkers like <a href="http://blog.news.me/post/18071013708/getting-the-news-chris-dixon">
Chris Dixon</a>, <a href="http://blog.news.me/post/16465157832/getting-the-news-zach-seward">
Zach Seward</a>, and <a href="http://blog.news.me/post/15297417248/getting-the-news-megan-garber">
Megan Garber</a>, <a href="http://blog.news.me/tagged/getting_the_news">here</a>.)</span></p>
<p><span><img src="https://si0.twimg.com/profile_images/1809899595/IMG_8189.jpg__6_documents__6_total_pages_.jpg"/>This week we bring you <a href="http://evhead.com/">Evan Williams</a>, co-founder of <a href="http://twitter.com">Twitter</a> and <a href="http://www.blogger.com">Blogger</a>, and partner at <a href="http://obvious.com/">Obvious Corporation</a>. Evan’s
accomplishments are so great as to be almost preposterous: not only
did he co-found two of the Internet’s top ten websites, but
he also invented the term “blogger.” Now that the line
between bloggers and journalists is blurring and Twitter is the
“people’s newswire,” few other people on the
planet can claim to have changed journalism and news consumption as
much as Evan. We took a bit of his time to see how he’s
getting his information. Unsurprisingly, Twitter plays a big
role.<br/></span></p>
<p><strong>1. Describe how you get news throughout the day.
What’s the first thing you check when you wake
up?</strong>
I stopped sleeping with my phone beside my bed about six months
ago, because I wanted my wife to be the first and last thing I
looked at in the day, rather than my iPhone. :)
When I do get around to looking at it, I first check email and then
the weather (maybe it’s my farming roots). On the way to
work, I’ll check Twitter, which is the thing I check most
frequently throughout the day (on both on the phone and
desktop).
(In fact, people sometimes comment that I don’t use Twitter
much, which couldn’t be further from the truth — I use
it constantly. It’s just that it’s much more of a
source of information than a broadcast medium for me. That’s
true of more people than not, actually.)<br/><br/><strong>2. What publications or news sources do you read and trust?
How frequently do you visit them throughout the day?</strong><br/><br/>
I visit a lot of publications regularly — both blogs and
traditional media — but almost always via pointers, not as a
homepage consumption experience. Besides Twitter, I find myself
getting news via email more than I would have expected in this day
and age. Three emails I read (or at least skim) almost daily
include: <a href="http://summify.com/">Summify</a>, <a href="http://www.politico.com/playbook/">POLITICO Playbook</a> (even
though I’m not that into politics), and Jason
Hirschhorn’s <a href="http://twitter.com/#!/mediaredef">Media
Redefined</a>. In the less-frequent (and not quite news)
department, <a href="http://www.brainpickings.org/">Brain
Pickings</a> is great.
I’ll occasionally type in the domains of other blogs, but if
I find myself doing that, it’s a sign I’m not very
focused and should get back to work.<br/><br/><strong>3. What platforms do you read/get content on? Are you into
reading content on your iPhone or tablet, or do you still remember
how to unfold a newspaper? Do you ever watch television news
programs?</strong>
iPhone is a biggie, as mentioned above. I don’t touch my iPad
much — if so, it’s mostly as an expensive Kindle. I
still like the laptop/desktop experience the most. I wish more
content was designed for the big screen.
Newspapers and TV…what now?<br/><br/><strong>4. What was the last great article you read? How did you
find out about it? Is this your typical pattern?</strong><br/><br/>
The last great article I read was <a href="http://www.theatlantic.com/magazine/archive/2012/03/how-your-cat-is-making-you-crazy/8873/">How Your Cat is Making You Crazy</a> in <a href="http://theatlantic.com"><em>The Atlantic</em></a>. I read the
paper version, which is fairly unusual, but I was on a flight, and
you need something to read during that time you can’t turn on
your devices. Also, I’ve always loved magazines, so I buy
them regularly.<br/><br/>
I don’t read many long-form articles, though I’m not
sure why. I save stuff to <a href="http://www.readability.com/">Readability</a> but rarely go back to
read it. When I want to focus for more than a minute on something,
I’ll turn to a book. In general, I find books to be more
satisfying than articles. That could be due to a false sense of
accomplishment.<br/><br/><strong>5. Is anything missing from your news consumption pattern
now or in the tools/sites that you use? Anything you wish you
had?</strong>
One thing that I find missing is discovery of non-new content. The
web is completely oriented around new-thing-on-top. Our brains are
also wired to get a rush from novelty. But most “news”
we read really doesn’t matter. And a much smaller
percentage of the information I actually care about or would find
useful was produced in the last few hours than my reading patterns
reflect.<br/><br/>
Also, most news and content sites are terribly designed. I wish
they were better.</p>
<p><em>Find Evan at his <strong><a href="http://evhead.com/">blog</a></strong> and on <strong><a href="https://twitter.com/#!/ev">Twitter</a></strong>.</em></p>
<p><em>(Photo courtesy of Evan Williams.)<br/></em></p>
<ul><li><a href="http://blog.news.me/post/18439216464/getting-the-news-evan-williams">
2 hours ago</a></li>

<li><a href="http://blog.news.me/post/18439216464/getting-the-news-evan-williams#notes">
3 notes</a></li>

