#story_show
  #articles.g.columns_8
    = render "mockups/article", {:show_image => false}
    = render "mockups/article", {:show_image => false}
    = render "mockups/article", {:show_image => false}
    = render "mockups/article", {:show_image => false}

  #story.g.columns_4
    story details here
