#write_summary
  #leftcol.g.columns_6
    %h3 preview:
    = render "mockups/article_preview"
    %button{:onclick => "window.location = '/mockups/write_summary'", :type => "button"}
      done

  #readable_text_format.g.columns_6
    = render "mockups/instapaper_output2"

