@import "variables";
@import "fonts";

a {
  color: #2463de;
  text-decoration: none;
  &:hover{ text-decoration: underline; }
  &:visited{ color: #2463de; }
}

$header_height: 60px;
#header {
  height: $header_height;
  border-bottom: 5px solid #eee;
  opacity: 0.9;
  margin-bottom: 20px;
  #logo {
    height: $header_height;
    .name {
      font-size: 30px;
    }
    .tagline {
      font-size: 15px;
    }
    font-family: 'Convergence', sans-serif;
    color: #aaa;
    // line-height: $header_height;
  }
  nav {
    line-height: $header_height;
    height: $header_height;
    float: right;
    display: block;
    text-align: right;
  }
}

.grey {
  background-color: #eee;
  opacity: 0.9;
}

#content {
  padding-top: 20px;
}

article {
  min-height: 200px;
  margin-bottom: 37px;

  h2 {
    margin: 0px;
    float: left;
    font-family: $serif;
    font-weight: normal;
  }
  .source {
    margin-top: 0;
    font-family: $sans-serif;
    color: #ccc;
    margin-bottom: 10px;
  }
  p {
    color: #333;
    font-family: Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 0;
    $article_body_image_vertical_offset: 6px;
    img.news {
      position: relative;
      top: $article_body_image_vertical_offset;
      margin: 0 10px $article_body_image_vertical_offset;
      float: right;
    }
  }
  .tags {
    display: block;
    margin-top: 10px;
    a {
      display: inline-block;
      margin-right: 10px;
    }
  }
  footer {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
    .author{
      float: left;
      img {
        height: 32px;
        width: 32px;
        float: left;
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }
    .voting {
    }
    .actions {
      float: right;
    }
  }
}

#sidebar {
  #search {
    input {
      font-size: 1.5em;
      line-height: 25px;
    }
    button { width: 50px; }
    margin-bottom: 20px;
  }
  min-height: 500px;
  #tag_cloud {
    height: 300px;
  }
}

