<!DOCTYPE html>
<html>
<head>
  <title>ShorterVersion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id='header'>
      <div class='g columns_6' id='logo' onclick="window.location = '/mockups/home'">
        <div class="name">
          Shorter Version
        </div>
        <div class="tagline">
          what you were about to read, summarized
        </div>
      </div>
      <% if @summary_button %>
        <nav>
          <button class='shiny-blue' onclick="window.location = '/mockups/write_summary_start'">write a summary</button>
        </nav>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="footer"></div>
  </div>

</body>
</html>
